doctype html
html
    head
        link(href="style.css")(rel="stylesheet")
        title Node_Practice
    body
        block content
        br
        <hr>
        footer
            p Copyright &copy; 20180......